<h1>Editing Listing</h1>

<% if @listing.user == current_user %>
	<%= render 'form', listing: @listing %>
<% else %>
	<% controller.redirect_to listings_path, :alert => 'You dont have access to edit others listings!!' %>
<% end %>

<%= link_to 'Show', @listing, class: "btn btn-primary btn-md mt-4" %>
<%= link_to 'Back', listings_path, class: "btn btn-primary btn-md mt-4" %>
