<p id="notice"><%= notice %></p>

<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Categories</h5>
        <div class="row">
            <!-- Team member -->
            <% @categories.each do |category| %>
	            <div class="col-xs-12 col-sm-6 col-md-4 mt-4">
	                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
	                    <div class="mainflip">
	                        <div class="frontside">
	                            <div class="card">
	                                <div class="card-body">
	                                <%= image_tag category.image.url(:medium) %>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="backside">
	                            <div class="card">
	                                <div class="card-body text-center align-middle">
	                                    <h1 class="card-title"><%= link_to category.name, category_path(category.id) %></h1>
	                            	</div>
	                        	</div>
	                    	</div>
	                	</div>
	            	</div>
	    		</div>
	    	<% end %>
   		</div>
   	</div>
</section>

<% if user_signed_in? && current_user.admin? %>
	<%= link_to 'New Category', new_category_path, class: "btn btn-primary btn-md my-4" %>
<% end %>