<h1>New Category</h1>

<% if current_user.admin? %>
	<%= render 'form', category: @category %>
<% else %>
	<% controller.redirect_to listings_path, :alert => 'You dont have access to create categories!!' %>
<% end %>

<%= link_to 'Back', categories_path, class: "btn btn-primary btn-md mt-4" %>
